$border-property-map: (
    "border": (
        property: border,
        class: "border",
        values: (
            1: 1px solid black,
            2: 2px solid black,
            3: 3px solid black,
            4: 4px solid black,
            5: 5px solid black,
            6: 6px solid black
        )
    ),

    "border-radius": (
        property: border-radius,
        class: "br",
        values: (
            1: $border-radius-base * .5,
            2: $border-radius-base,
            3: $border-radius-base * 1.5,
            4: $border-radius-base * 2,
            5: $border-radius-base * 2.5,
            6: $border-radius-base * 3,

            round: 100%
        )
    )
);

@each $key, $map in $border-property-map {
    $p: map-get($map, property);
    $c: map-get($map, class);
    $v: map-get($map, values);

    @each $index, $value in $v {
        .#{$c}-#{$index} {
            #{$p}: #{$value} !important;
        }
    }
}