$transition-step: 12;

@for $i from 1 through $transition-step{
    .transition-#{$i}00ms{
        transition: all #{$i}00ms;
    }

    .transition-#{$i}00ms-ease{
        transition: all #{$i}00ms ease;
    }

    .transition-#{$i}00ms-ease-in{
        transition: all #{$i}00ms ease-in;
    }

    .transition-#{$i}00ms-ease-out{
        transition: all #{$i}00ms ease-out;
    }

    .transition-#{$i}00ms-ease-in-out{
        transition: all #{$i}00ms ease-in-out;
    }
}