// Typography
$font-size-base: 1rem;
$font-size-factor: 1.25;



// Layout
$spacer: 1rem;
$border-radius-base: 12px;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);